body {
	background-image: url('img/bg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial;
}

.first {
	width: 100%;
	height: 100%;
}
.main {
	width: 92%;
	height: 100%;
//	border: 1px solid white;
}

.genTitleBack{
	width: 97%;
	background-image: url('img/genTitleBack.jpg');
	background-size: 100% 70px;
	padding: 5px;
	padding-left: 30px;
	border-radius: 15px;
	color: white;
	font-family: Arial;
	font-size: 45px;
	text-align: left;
}

/* End of General - Start of Input */

#mainTd { 
	height: 700px;
//	border: 1px solid white;
}

.input {
	width: 515px;
	height: 100%;
	display: inline-block;
	background-image: url('img/inputBack.png');
	background-size: 100% 100%;
//	border: 1px solid white;
	border-radius: 10px;
//	margin: 10px 0px 0px 0px;
	color: white;
	Font-size: 19px;
	padding-left: 10px;
//	padding-top: 10px;
}

.inputSecTitle {
	color: white;
	font-size: 18px;
	text-decoration: underline;
}

.inputOpt {
//	background-color: transparent;
//	color: black;
}

.inputSlct {
//	color: White;
//	background-color: transparent;
}

.inputOrdersTxt {
	color: white;
	font-size: 16px;
}
.methdNumb {
	width: 170px;
	background-color: transparent;
	border: 1px solid grey;
	color: white;
	
}

.inputButton {
	background-color: transparent;
	border: 1px solid grey;
	color: white;
	border-radius: 5px;
}

.inputButton:hover {
	box-shadow: 1px 1px 5px 2px lightgreen;
//	background-image: url('img/hover.png');
//	background-size: 100% 100%;
}

/* End of Input - Start of Outout */

.output {
	width: 600px;
	height: 100%;
	display: inline-block;
//	border: 2px solid white;
	border-radius: 10px;
//	margin-left: 20px;
	background-image: url('img/inputBack.png');
	background-size: 100% 100%;
	text-align: center;
//	margin-top: 10px;
}

.outputText {
	width: 90%;
	height: 400px;
//	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
//	margin-top: 10%;
	color: white;
	
}

/* end of output */

.tblBin td {
	color: white;
	text-align: right;
}
